{
  "env": {
    "cjs": {
      "presets": [
        "@inst-app/esx",
        "@inst-app/react"
      ]
    },
    "es": {
      "presets": [
        ["@inst-app/esx", {"env": {"modules": false}}],
        "@inst-app/react"
      ]
    }
  }
}
